@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    background-color: rgb(42, 42, 42);
    font-family: 'Roboto', sans-serif;
    color: white;
}
a:link {
  color: rgb(158, 250, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(158, 250, 255);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(129, 204, 208);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(0, 242, 255);
  background-color: transparent;
  text-decoration: underline;
}